# Node & Frontend
node_modules
frontend/node_modules
frontend/dist
.DS_Store

# Python & Backend
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# AlphaHive Data & Local Logs
*.db-journal
*.db-wal
*.db-shm
logs/*.log

# Environment & Sensitive Credentials
.env
